body {
    color: #4a4a4a;
    font-family: 'Manrope', sans-serif;
}
h1 {
    font-size: 20px;
    margin: 0;
    margin-top: 24px;
}

/* Video Setup */

video {
    object-fit: cover;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 600ms ease-out;
}
.light-video {
    opacity: 1;
}
.dark-video {
    opacity: 0;
}

/* Swap Theme Icon */

.swap {
    color: #4a4a4a;
    display: block;
    font-size: 20px;
    margin: 30px auto;
    border: 0;
    background: transparent;
    transform: rotate(180deg);
    transition: transform 300ms ease-out;
}
.swap:hover {
    transform: scale(1.1);
}

/* App Container */

.app-box {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    box-shadow: 0px 0px 30px rgba(87, 40, 1, 0.4);
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 800px;
    padding: 36px;
    transition: background-color 300ms ease-out;
}

/* Search Bar + Options */

.search-bar, .search-bar:focus {
    color: #4a4a4a;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #4a4a4a;
    border-right: 0;
    border-left: 0;
    margin: 0 !important;
}
.search-bar::placeholder {
    color: #4a4a4a;
}
.search-icon {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #4a4a4a;
    border-left: 0;
    color: #4a4a4a;
    margin: 0 !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.search-icon:hover {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-left: 0;
}
.location-icon {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #4a4a4a;
    border-right: 0;
    color: #4a4a4a;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.location-icon:hover {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-right: 0;
}
.temperature-unit {
    display: flex;
    justify-content: flex-end;
}
.temperature-unit-icon {
    color: #4a4a4a;
    border: 1px solid #4a4a4a;
}
.temperature-unit-icon:hover {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
}

/* Main Weather Section */


.city-name {
    font-size: 40px;
    margin: 0;
    margin-top: 18px;
    padding: 0px;
}
.weather-now {
    margin-top: 5px;
}
.city {
    font-size: 40px;
    text-align: center;
}
.main-temperature .unit {
    font-size: 26px;
    margin-left: -5px;
}

.weather-description {
    text-transform: capitalize;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}
.max-min {
    display: block;
    font-size: 20px;
    margin-top: 10px;
}
.main-max-temperature {
    font-weight: 900;
    text-align: center;
}
.main-max-temperature .unit{
    font-size: 15px;
    margin-left: -3px;
    top: -4px;
}
.main-min-temperature {
    font-weight: 100;
    text-align: center;
}
.main-min-temperature .unit{
    font-size: 15px;
    margin-left: -3px;
    top: -4px;
}
.weather-icon-big {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
}
.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    text-align: left;
    flex-direction: column;
    align-content: center;
}
.details .unit {
    font-size: 15px;
    margin-left: -3px;
     top: -4px;
}

/* Week Forecast Row */

.week-forecast {
    text-align: center;
    margin-top: 18px;
}
.week-forecast-day {
    font-weight: 500;
    margin: 12px auto;
    text-align: center;
}
.week-forecast-temp {
    font-size: 14px;
    margin-top: 12px;
    text-align: center;
}
.week-forecast-icon {
    color: #4a4a4a;
    font-size: 24px;
    text-align: center;
}
.max-temperature {
    font-weight: 900;
    text-align: center;
}
.min-temperature {
    font-weight: 100;
    text-align: center;
}

/* Footer/Signature */

.signature {
    font-family: monospace;
    text-align: center;
    margin-top: 18px;
}
.signature a {
    color: #4a4a4a;
}


 /* ---------- Dark Theme Setting ----------*/


.dark {
    color: #dedede;
 }

/* Swap Theme Icon */

.dark .swap {
    color: #dedede;
    transform: rotate(180deg);
    transition: transform 300ms ease-out;
}
.dark .swap:hover {
    transform: scale(1.1);
}

/* Video Setup */

.dark .light-video {
    opacity: 0;
 }
.dark .dark-video {
    opacity: 1;
 }

/* App Container */

.dark .app-box {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 30px rgb(5, 36, 2);
}

/* Search Bar + Options */

.dark .search-bar, .dark .search-bar:focus{
    color: #dedede;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(222, 222, 222, 0.7);
    border-right: 0;
    border-left: 0;
}
.dark .search-bar::placeholder {
    color: #dedede;
}
.dark .search-icon {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(222, 222, 222, 0.7);
    color: #dedede;
    border-left: 0;
}
.dark .search-icon:hover {
    color: #4a4a4a;
    background-color: #dedede;
}
.dark .location-icon {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(222, 222, 222, 0.7);
    color: #dedede;
    border-right: 0;
}
.dark .location-icon:hover {
    color: #4a4a4a;
    background-color: #dedede;
}
.dark .temperature-unit-icon {
    color: #dedede;
    border: 1px solid #dedede;
}
.dark .temperature-unit-icon:hover {
    color: #4a4a4a;
    background-color: #dedede;
}

/* Week Forecast Row */

.dark .week-forecast-icon {
    color: #dedede;
}

/* Footer/Signature */

.dark .signature a {
    color: #dedede;
}
